
@font-face {
  font-family: "qtek-editor-icon";
  src: url('iconfont/iconfont.eot?t=1458906891'); /* IE9*/
  src: url('iconfont/iconfont.eot?t=1458906891#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont/iconfont.woff?t=1458906891') format('woff'), /* chrome, firefox */
  url('iconfont/iconfont.ttf?t=1458906891') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont/iconfont.svg?t=1458906891#qtek-editor-icon') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family:"qtek-editor-icon" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-unfold:before { content: "\e601"; }
.icon-fold:before { content: "\e602"; }
.icon-mesh:before { content: "\e603"; }
.icon-light:before { content: "\e604"; }
.icon-camera:before { content: "\e600"; }
.icon-node:before { content: "\e605"; }
